# Virtual environment
.venv/
venv/

# VSCode settings
.vscode/

# Python cache
__pycache__/

# csv files
*.csv

# Environment and dependency files
*.env
*.venv
.env.local
.venv.local
Pipfile.lock

# video
*.mp4